body{
	margin: 0;
	padding: 0;
	min-width: 1200px;
	overflow: hidden;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
a{text-decoration: none;}

		/*logo闪光效果*/
			.logo-site {
			position: relative;
			margin: 0 auto;
			transition-duration: .5s;/*过渡效果花费的时间*/
			width: 255px;
			height:84px;
			overflow: hidden;/*超出部分隐藏*/
			background: url(../img/127211002eaf2973cede6670b5edbb0a.jpg) no-repeat scroll top left;
			background-size:100% 100%;
		}
		
		.logo-site:before {/*向.logo-site前加入特效*/
			content: "";
			position: absolute;
			left: -110px;
			width: 200px;
			height: 25px;
			background-color: rgba(255, 255, 255,.7);/*颜色与透明度*/
			box-shadow:5px 5px 22px white ;
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			transform: rotate(-45deg);/*2D旋转45度*/
			-webkit-animation: searchLights 1s ease-in 1s infinite;
			-o-animation: searchLights 1s ease-in 1s infinite;
			/*规定动画*/animation: searchLights .9s ease-in/*低速开始*/ .5s infinite /*循环无限*/;
		}
		/*创建动画*/
		@-webkit-keyframes searchLights {
			0% {/*0%开始*/
				left:-100px;
				top: 0;
			}
			to {
				left: 120px;
				top: 80px;
			}
		}
		
		@-o-keyframes searchLights {
			0% {
				left: -100px;
				top: 0;
			}
			to {
				left: 120px;
				top: 80px;
			}
		}
		
		@-moz-keyframes searchLights {
			0% {
				left: -100px;
				top: 0;
			}
			to {
				left: 120px;
				top: 80px;
			}
		}
		
		@keyframes searchLights {
			0% {
				left: -100px;
				top: 0;
			}
			to {
				left: 120px;
				top: 80px;
			}
		}
		/*logo闪光效果结束*/

/*侧边栏*/

#celan{
	width:160px;
	height: 200px;
	/*border:1px solid royalblue;*/
	/*margin-top:160px;*/
	position: fixed;
	right: 0;
	top: 25%;
	text-align: center;
}		
.ce_l{
	width:22%;
	height: 100%;
	border-bottom-left-radius:25px;
	border-top-left-radius:25px;
	float: right;
	font-size:18px;
	color:#41BAE6 ;
	background-color:#F3F3F3;
	border:1px solid #E9E9E9;
	cursor: pointer;
	z-index:10;
}
.ce_l img{
	margin-top: 120%;
}
.ce_l span{
	position:relative;
	top:15%;
}
.ce_r{
	/*display: none;*/
	width:75%;
	height: 100%;
	float:right;
	background-color:white;
	border:1px solid  #E9E9E9;
}
.ce_r_t{
	width:100%;
	height:43%;
	border-bottom:1px solid #E9E9E9;
}
.ce_r_t img{
	margin-top: 11%;
}
.ce_r_b{
	width:100%;
	height:56%;
	font-size: 17px;
	/*border:1px solid red;*/
}
.ce_r_b p{
	position: relative;
	top: 17%;
}
.ce_r_b img{
	margin-top: 22%;
}		
/*占位div*/
.head{
	width:100%;
	height:10%;
	/*border:1px solid cadetblue;*/
	/*background: chartreuse;*/
}

/*可视区*/
.center{
	width:1200px;
	height:auto;
	/*border:1px solid red;*/
	margin:0 auto;
}
/*页眉*/

.header {
	width:100%;
	height:85px;
	background: white;
	/*margin-bottom: 25px;*/
	position:fixed;
	z-index:6;
	border-bottom:1px solid #999999;
}

.header .left {
	width:22% ;
	height:100%;
	float: left;
	/*border:1px solid cadetblue;*/
}

.header .right {
	width:77%;
	height:100%;
	float:right;
	/*border:1px solid chartreuse;*/
}
.header_dh{
	width:86%;
	height:85px;
	/*border:1px solid chocolate;*/
	font-size:18px;
	margin-left:14%;
	
}
.header_dh_li {

	width:14%;
	height:85%;
	float: left;
	/*border:1px solid crimson;*/
	line-height: 100px;
	text-align: center;
	transition:height .5s;
}

.header_dh_li a {
	/*display: block;*/
	color: #333;
	position: relative;
	top:0px;
}

.header_dh_li:hover {
	background-color: #1C82D4;
	height:85px;
}
.header_dh_li:hover a{
	color: white;
}
/*页眉隐藏栏*/
#ul01{
	display: none;
 	z-index:9;
 	/*border: 1px solid #6E6E6E;*/
 	background:white;
 	font-size: 18px;
 	margin: 0;
 	padding: 0;
 	width:110px;
 	margin-top:-15px;
 }
#ul01 li{
	width:100%;
	height:50px;
	line-height: 50px;
}
#ul01 li a{
	position: relative;
	top: -2px;
	color: #000000;
}
#ul01 li:hover{
	background-color:#B8DCF9;
	/*border:1px solid #6E6E6E;*/
}

/*标题*/
.biaoti{
	width:500px;
	height:50px;
	border-bottom:2px solid #999999;
	padding:0px 100px 0px 100px ;
	font-size: 24px;
	margin: auto;
}
.biaoti2{
	width:360px;
	height: 23px;
	/*border:1px solid crimson;*/
	position: relative;
		top: -12px;
	background: white;
	font-size:18px;
	margin: auto;
	color: #ACACAC;
}
.biaoti_p{
	font-size:1px;
	color: #ACACAC;
}
.bt img{
	width:18px;
	height:18px;
}
/*内容*/
.cont{
	width:100%;
	height:50%;
	/*border:1px solid red;*/
	margin-top:25px;
}
/*index样式*/
/*index产品服务*/
.index_cpfw{
	width:100%;
	height:500px;
	/*border:1px solid blue;*/
	
}

.index_cpfw ul li {
	display: inline-block;
	width: 320px;
	height: 320px;
	margin:40px auto;
}



.index_cpfw ul li img {
	width: 286px;
	height: 286px;
}

.index_cpfw ul li p {
	
	width: 320px;
	height: 70px;
	font-size: 18px;
	display: block;
	line-height: 70px;
	font-family: "宋体";
}


/*index支付*/
.zhifu{
	width:100%;
	height:527px;
	font-size: 18px;
	/*border:1px solid red ;*/
}
.zhifu ul li{
	height:130px;
	width:80%;
	
	/*border:1px solid aquamarine;*/
	margin-top: 20px;
	line-height:130px;
}
.zhifu ul li:nth-child(1){
	margin-top: 0;
}
.zhifu ul li span{
	float: left;
	margin-left:20px;
}
.zhifu_l{
	width:33%;
	height:525px;
	/*border:1px solid chartreuse;*/
	float: left;
	margin:0 auto;
}
.zhifu_l ul li{
		float: right;
		/*border:1px solid chartreuse;*/
}
.zhifu_c{
	width:33%;
	height:425px;
	/*border:1px solid chartreuse;*/
	float: left;
	margin:77px auto;
	
}
.zhifu_c ul li{
	/*width:100%;*/
	margin:15px auto;
	/*border:1px solid chartreuse;*/
}
.zhifu_r{
	width:33%;
	height:525px;
	/*border:1px solid chartreuse;*/
	float: left;
	margin:0 auto;
}
.zhifu_r ul li{
	width:100%;
}
.zhifu_tu{
	width:105px;
	height:100%;
	/*border:1px solid red;*/
	float: left;
}
.zhifu_l_1{
	background: url(../images/xtkf.jpg) no-repeat scroll center center;
}
.zhifu_l_1:hover{
	background: url(../images/xtkajg.jpg) no-repeat scroll center center;
}
.zhifu_l_2{
	background: url(../images/appkf.jpg) no-repeat scroll center center;
}
.zhifu_l_2:hover{
	background: url(../images/appjg.jpg) no-repeat scroll center center;
}
.zhifu_l_3{
	background: url(../images/zydj.jpg) no-repeat scroll center center;
}
.zhifu_l_3:hover{
	background: url(../images/zydjjg.jpg) no-repeat scroll center center;
}
.zhifu_c_1{
	background: url(../images/xykxf.jpg) no-repeat scroll center center;
}
.zhifu_c_1:hover{
	background: url(../images/xykxfjg.jpg) no-repeat scroll center center;
}
.zhifu_c_2{
	background: url(../images/xyk.jpg) no-repeat scroll center center;
}
.zhifu_c_2:hover{
	background: url(../images/xykjg.jpg) no-repeat scroll center center;
}
.zhifu_c_3{
	background: url(../images/OEM.jpg) no-repeat scroll center center;
}
.zhifu_c_3:hover{
	background: url(../images/OEMjg.jpg) no-repeat scroll center center;
}
.zhifu_r_1{
	background: url(../images/xls.jpg) no-repeat scroll center center;
}
.zhifu_r_1:hover{
	background: url(../images/xlsjg.jpg) no-repeat scroll center center;
}
.zhifu_r_2{
	background: url(../images/kjzf.jpg) no-repeat scroll center center;
}
.zhifu_r_2:hover{
	background: url(../images/kjzfjg.jpg) no-repeat scroll center center;
}
.zhifu_r_3{
	background: url(../images/zfdj.jpg) no-repeat scroll center center;
}
.zhifu_r_3:hover{
	background: url(../images/zfdjjg.jpg) no-repeat scroll center center;
}

/*index方案内容*/
.solution {
	width: 100%;
	background: url(../images/tc12.jpg) repeat scroll top left;
	margin: 45px 0px;
}

.solu_con {
	width: 1200px;
	height: 555px;
	margin: -50px auto;
}

.solu_con_left {
	width: 700px;
	margin-right: 10px;
	float: left;
}

.solu_con_left_top {
	width: 100%;
	height: 325px;
	margin-bottom: 10px;
}
  /**/
.solu_con_left_top_left {
	width: 460px;
	height: 325px;
	margin-right: 10px;
	float: left;
	background: #0a6999;
	text-align: center;
	font-size: 16px;
	/*border:1px solid chartreuse;*/
	background: url(../images/zhc.png) no-repeat scroll center center;
	background-size: 100% 100%;
}
.solu_con_left_top_left_wb{
	width: 100%;
	height: 100%;
	/*border:1px solid red;*/
	/*padding:55px;*/
	text-align: center;
	color: white;
	background-color: #3B79FD;
	opacity: 0;
	font-size: 20px;
	
	
}
.solu_con_left_top_left_w{
	font-size: 16px;
	/*text-indent:2em;*/
	width:80%;
	height:60%;
	/*border:1px solid chocolate;*/
	position: relative;
	top: 13%;
	line-height:30px;
	margin: auto;
}
.solu_con_left_top_left_wb:hover{
	opacity: .9;
}
.solu_con_left_top_left_wb span{
	font-size: 20px;
	line-height: 50px;
	position: relative;
	top:35px;
}
.solu_con_left_top_right {
	width: 230px;
	float: left;
}

.solu_con_left_top_right_top {
	width: 100%;
	height: 165px;
	margin-bottom: 10px;
	/*background: #dddddd;*/
	background: url(../images/zhly.png) no-repeat scroll center center;
	background-size:100% 100%;
}

.solu_con_left_top_right_bottom {
	width: 100%;
	height: 150px;
	/*background: #dddddd;*/
	background: url(../images/zhyl.png) no-repeat scroll center center;
	background-size:100% 100%;
}

.solu_con_left_bottom {
	width: 100%;
	height: 220px;
}

.solu_con_left_bottom_left {
	width: 245px;
	height: 220px;
	margin-right: 10px;
	float: left;
	/*background: #dddddd;*/
	background: url(../images/zhx.png) no-repeat scroll center center;
	background-size:100% 100%;
}

.solu_con_left_bottom_right {
	width: 445px;
	height: 220px;
	float: left;
	background: url(../images/znjy.png) no-repeat scroll center center;
	background-size:100% 100%;
}

.solu_con_right {
	width: 490px;
	float: left;
}

.solu_con_right_top {
	width: 100%;
	height: 260px;
	margin-bottom: 10px;
}

.solu_con_right_top_left {
	width: 205px;
	height: 260px;
	margin-right: 10px;
	float: left;
	background: url(../images/hlcp.png) no-repeat scroll center center;
	background-size:100% 100%;
}

.solu_con_right_top_right {
	width: 275px;
	height: 260px;
	float: left;
background: url(../images/zhsq.png) no-repeat scroll center center;
	background-size:100% 100%;
}

.solu_con_right_bottom {
	width: 100%;
	height: 285px;
	background: url(../images/zhyliao.png) no-repeat scroll center center;
	background-size:100% 100%;
}

/*index公司简介内容*/
.index_JJ{
	width:100%;
	height:310px;
	margin-top:10px;
	/*border:1px solid cadetblue;*/
	color: #666666;
	margin-bottom: 30px;
}

.index_JJ_l{
	width:70%;
	height:100%;
	/*border:1px solid red;*/
	float: left;
}
.index_JJ_bt{
width:100%;
height: auto;
color: black;
border-bottom:1px solid black;
font-size: 16px;
text-align: left;
line-height:50px;	
}
.index_JJ_l_img{
	width:50%;
	height:262px;
	/*border:1px solid cyan;*/
	float: left;
	margin-top: 10px;
	background: url(../images/1.jpg) no-repeat scroll center center;
	background-size:100% 100%;
}
.index_JJ_l_text{
	width: 45%;
	height:262px;
	/*border:1px solid chocolate;*/
	float: right;
	font-size: 13px;
	text-align: left;
	text-indent:2em;
	padding-left:18px;
	line-height:24px;
}
.index_JJ_l_text p{
	position: relative;
	top:6px;
}
.index_JJ_r{
	width:21%;
	height:100%;
	/*border:1px solid blue;*/
	float: right;
	font-size: 15px;
	text-align:left;
}
.index_JJ_r_c{
	width:100%;
	height: 104px;
	margin-top: 10px;
	background: url(../images/3.png) no-repeat scroll center left;
	background-size:  100% 100%;
	/*border:1px solid chartreuse;*/
	/*float: right;*/
}
.index_JJ_r_b p{
	margin-top:8px;
}

/*页脚*/
.footer{
	width: 100%;
	height:190px;
	/*border: 1px solid chartreuse;*/
	background-color: #D4D3D3;
}
.footer_l {
	width:40%;
	height:100%;
	float: left;
	
	/*border:1px solid chartreuse;*/
}

.footer_l ul li {
	display:inline-block;
	font-size: 12px;
	/*border: 1px solid crimson;*/
	float: left;
	margin-left:7%;
	margin-top: 20px;
}
.footer p{
	font-size: 14px;
}
.footer_l ul li a {
	color: #666;
}

.footer_l ul li a:hover {
	color: #1C82D4;
}
.footer_l ul li:nth-child(1){
	margin-left: 1%;
}
.footer_l ul li:nth-child(5){
	text-align: left;
}
.footer_r{
	width:33%;
	float:right;
	/*border:1px solid chocolate;*/
}
.footer_r ul li {
	margin-top: 40px;
	width: 130px;
	height: 120px;
	float: left;
	text-align: center;
	margin-left:45px;
}

.footer_r ul li img {
	width: 82px;
	height: 82px;
	/*border:1px solid chartreuse;*/
}
.footer_r ul li p {
	/*font-size: 12px;*/
	color: #666;
	line-height: 20px;
	text-align: center;
}
/*index2页*/
.cp_yuff_l{
	width:45%;
	height:370px;
	/*border:1px solid chartreuse;*/
	float: left;
	position: relative;
}
.cp_yuff_l_txt{
	width:66%;
	height:87%;
	background-color: white;
	position: absolute;
	font-size: 16px;
	color: #666666;
	padding:48px 30px 0 30px;
	text-align: left;
	line-height:30px;
}
.cp_yuff_l_img{
	width:60%;
	height:60%;
	/*border:1px solid cyan;*/
	float: right;
	position: absolute;
	top: 40%;
	left: 40%;
	z-index: 1;
	/*background: url(../img/fj.jpg) no-repeat scroll;*/
	/*background-size: 100% 100%;*/
}
.cp_yuff_l_img img{
	width: 100%;
	height: 100%;
}
.cp_yuff_r{
	width:45%;
	height:370px;
	/*border:1px solid chartreuse;*/
	float:right;
	position: relative;
}
.cp_fan_l{
	width:20%;
	height:auto;
	float: left;
	/*border:1px solid chartreuse;*/
	margin-top:60px;
}
.cp_fan_l_1{
	width: 100%;
	height:40%;
	/*border:1px solid chocolate;*/
}
.cp_fan_l_1 img{
	width:100%;
	height: 100%;
}
.cp_fan_c{
	width:56%;
	height: auto;
	float: left;
	/*border:1px solid chartreuse;*/
	margin-top:60px;
	margin-left: 2%;
}
.cp_fan_c span{
	font-size:18px ;
	font-weight: bold;
	line-height: 70px;
}
.cp_fan_c p{
	font-size:14px ;
	color: #363636;
	line-height: 24px;
	
}
.cp_fan_c_txt{
	width:80%;
	height:40%;
	text-align: left;
	float: left;
	/*border:1px solid cadetblue;*/
}
.cp_fan_c_txt1{
	width:80%;
	height:40%;
	float: right;
	text-align:right;
	/*border:1px solid crimson;*/
	margin-top:66px;
}
.cp_fan_r{
	width:20%;
	height:auto;
	float: right;
	/*border:1px solid chartreuse;*/
	margin-top:60px;
}
.cp_rmpt{
	width:100%;
	height:325px;
	margin-top: 40px;
	/*border:1px solid chartreuse;*/
}
.cp_rmpt li{
	display: inline-block;
	width:22%;
	height:100%;
	background-color: white;
	float: left;
	margin-left:4%;
}
.cp_rmpt li:nth-child(1){
	margin-left: 0;
}
.cp_rm_img{
	width: 100%;
	height:70%;
	/*border: 1px solid chartreuse;*/
}
.cp_rm_img img{
	margin-top: 32%;
}
.cp_rm_txt{
	width:73%;
	height:29%;
	text-align:left;
	padding:0 35px 0 35px;
	font-size: 16px;
	/*border:1px solid saddlebrown;*/
}

/*加入我们样式*/
.jiawomen_l{
	width:47%;
	height:auto;
	/*border:1px solid chartreuse;*/
	float:left;
}
.jiawomen_r{
	width:47%;
	height:auto;
	/*border:1px solid chocolate;*/
	float: right;
}
.jiawomen_bt{
	width:100%;
	font-size: 18px;
	border-bottom: 5px solid #1C82D4;
	/*font-weight:bold ;*/
	text-align: left;
}
.jiawomen_img{
	width: 90%;
	height:220px;
	/*border:1px solid cyan;*/
	margin-top: 11px;
}
.jiawomen_img img{
	width:100%;
	height:100%;
}
.jiawomen_txt{
	width:100%;
	height:20%;
	margin-top: 11px;
	/*border:1px solid chartreuse;*/
	text-align: left;
	font-size:16px;
	line-height:36px;
}
.jiawomen_txt input{
	width:300px;
	height: 35px;
	border-radius:10px ;
	padding-left: 20px;
	margin-top:10px;
}
.jiawomen_txt button{
	border-radius:5px ;
	position: relative;
	top: 10px;
	left:8%;
	width:300px;
	height:35px;
	color: white;
	font-size:18px;
	background-color: #55A2E1;
	border: none;
}
.jiawomen_txt input:focus{outline:none;}
/*加入我们样式结束*/

/*地图*/
			.ditu_div {
				width: 100%;
				height:510px;
				/*margin: 40px 0;*/
			}
			#ditu {
				width: 100%;
				height: 100%;
			}
			.tou {
				font-size: 14px;
				font-weight: bold;
				color: #cc5522;
			}
			
			.dizhi {
				font-size: 13px;
				color: #333;
				margin-top: 6px;
			}
/*产品与服务*/
.CPFW_1tu{
	width:50%;
	height: 100%;
	/*border: 1px solid chartreuse;*/
	float:left;
	margin-top:40px;
}
.CPFW_1wb{
	width:49%;
	height:100%;
	/*border:1px solid coral;*/
	float:left;
	margin-top: 40px;
	font-size: 14px;
	text-align: left;
	line-height: 25px;
	color: #666666;
}			
.CPFW_1wb span{
	font-size: 20px;
	position: relative;
	top: 16px;
}			
.CPFW_1wb p{
	position: relative;
	top:40px;
}			
.CPFW_sh{
	width:100%;
	height:400px;
	/*border:1px solid cadetblue;*/
	margin-top: 40px;
}	
.CPFW_sh ul li{
	display:inline-block;
	width:23.5%;
	height:99%;
	/*border:1px solid chartreuse;*/
	margin-left: 25px;
}		
.CPFW_sh ul li{
	margin-left:10px;
}			
.CPFW_sh ul li img{
	width:100%;
	height:100%;
}
.CPFW_sh_txt{
	width:100%;
	height:90px;
	color: white;
	text-align: center;
	background-color:black;
	position: relative;
	top:-95px;
	opacity: 0;
}	
.CPFW_sh_txt p{
	position: relative;
	top:15px;
	font-size: 18px;
}	
.CPFW_sh_txt span{
	position: relative;
	top:25px;
	font-size: 12px;
}
.CPFW_sh ul li:hover .CPFW_sh_txt{
	opacity:.75;
}
/*方案*/
.pic1{
	width:100%;
	height:430px;
	/*border:1px solid chartreuse;*/
	margin-top:20px;
}
.pic1 img{
	width:100%;
	height:430px;
}
